<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model='inputValue'/>
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <test-list v-bind:content="test" 
                       v-bind:index="test1"
                       v-for="(test,test1) in list"
                       v-on:delete="handleItemClick"
            >           
            </test-list>
        </ul>
    </div>

    <script type="text/javascript">
        var testList={
            props:["content","index"],
            template:'<li @click="handleBtnDelete">{{content}}</li>',
            methods:{
                handleBtnDelete:function(){
                    this.$emit("delete",this.index);
                }
            }
        }
        var root = new Vue({
            el:"#root",
            components:{
                "testList":testList
            },
            data:{
                test:"你好，mrpan",
                list:["这是第一个li","这是第二个li"],
                inputValue:''
            },
            methods:{
                handleBtnClick:function(){
                    this.list.push(this.inputValue);
                    this.inputValue='';
                },
                handleItemClick:function(value){
                    this.list.splice(value,1);
                }
            }
        })
    </script>
</body>
</html>